In [1]:
import tweepy
import pandas as pd

In [4]:
consumer_key = "dkJmeyfZH81HSOFfwTdSkST99"
consumer_secret = "p1iv1RpTKj7Uh2wmOwjeqTtxdYpfp28U3RURW7eweBn01DV0LK"
access_token = "1250285356487856128-dSkMsYzWvbCALvpJgj1ZH1vimPmZ3K"
access_token_secret = "n2VqtQmzdRnFGct2SOAw8v0ozsud9zIWclDkaBiVpK3rp"

In [5]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [ ]:
api.search_tweets

In [16]:
cursor = tweepy.Cursor(api.user_timeline,id = "narendramodi",tweet_mode = "extended").items(1)

In [17]:
for i in cursor:
    print(i.full_text)

Unexpected parameter: id

The passing away of Gitashree Sandhya Mukhopadhyay Ji leaves us all extremely saddened. Our cultural world is a lot poorer. Her melodious renditions will continue to enthral the coming generations. My thoughts are with her family and admirers in this sad hour. Om Shanti.

In [18]:
cursor1 = tweepy.Cursor(api.search_tweets,q = "Bitcoin",tweet_mode = "extended").items(1)

In [19]:
for i in cursor1:
    print(i.full_text)

RT @cristobalsoria: #CRYPTO SORTEO DE #CHAMPIONS

Premios: ‚¨áÔ∏è
‚ñ™Ô∏è 2000‚Ç¨ en #Bitcoin
‚ñ™Ô∏è Una PlayStation 5
‚ñ™Ô∏è Un iPhone 13 Pro Max

Pasos üëáüèº
‚úÖ‚Ä¶

In [22]:
number_of_tweets = 200
tweets = []
likes = []
time = []

for i in tweepy.Cursor(api.user_timeline,id = "narendramodi",tweet_mode = "extended").items(number_of_tweets):
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)

Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id
Unexpected parameter: id

In [23]:
df = pd.DataFrame({"tweets":tweets,"likes":likes,"time":time})

In [24]:
df

,tweets,likes,time
0,‡¶ó‡ßÄ‡¶§‡¶∂‡ßç‡¶∞‡ßÄ ‡¶∏‡¶®‡ßç‡¶ß‡ßç‡¶Ø‡¶æ ‡¶Æ‡ßÅ‡¶ñ‡ßã‡¶™‡¶æ‡¶ß‡ßç‡¶Ø‡¶æ‡¶Ø‡¶º‡ßá‡¶∞ ‡¶™‡ßç‡¶∞‡¶Ø‡¶º‡¶æ‡¶£‡ßá ‡¶Ü‡¶Æ‡¶∞‡¶æ ‡¶∏...,530,2022-02-15 17:55:10+00:00
1,The passing away of Gitashree Sandhya Mukhopad...,5492,2022-02-15 17:24:33+00:00
2,‡§∞‡§µ‡§ø‡§¶‡§æ‡§∏ ‡§ú‡§Ø‡§Ç‡§§‡•Ä ‡§ï‡•á ‡§™‡§æ‡§µ‡§® ‡§Ö‡§µ‡§∏‡§∞ ‡§™‡§∞ ‡§ï‡§≤ ‡§∏‡•Å‡§¨‡§π 9 ‡§¨‡§ú‡•á ‡§Æ‡•à‡§Ç...,24895,2022-02-15 14:14:56+00:00
3,‡§Æ‡•Å‡§ù‡•á ‡§Ø‡§π ‡§¨‡§§‡§æ‡§§‡•á ‡§π‡•Å‡§è ‡§ó‡§∞‡•ç‡§µ ‡§ï‡§æ ‡§Ö‡§®‡•Å‡§≠‡§µ ‡§π‡•ã ‡§∞‡§π‡§æ ‡§π‡•à ‡§ï‡§ø ‡§π...,12353,2022-02-15 12:53:55+00:00
4,‡§á‡§∏ ‡§Ö‡§µ‡§∏‡§∞ ‡§™‡§∞ ‡§Æ‡•Å‡§ù‡•á ‡§∏‡§Ç‡§§ ‡§∞‡§µ‡§ø‡§¶‡§æ‡§∏ ‡§ú‡•Ä ‡§ï‡•Ä ‡§™‡§µ‡§ø‡§§‡•ç‡§∞ ‡§∏‡•ç‡§•‡§≤‡•Ä ...,18713,2022-02-15 12:52:27+00:00
...,...,...,...
195,‡§Ü‡§ú‡§æ‡§¶‡•Ä ‡§ï‡•á ‡§Ö‡§Æ‡•É‡§§ ‡§Æ‡§π‡•ã‡§§‡•ç‡§∏‡§µ ‡§Æ‡•á‡§Ç ‡§¶‡•á‡§∂ ‡§Ö‡§™‡§®‡•á ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡•Ä‡§Ø ‡§™...,10501,2022-01-30 11:54:20+00:00
196,The work of the Hastinapur Foundation in Argen...,7082,2022-01-30 11:53:46+00:00
197,The people of Assam have shown great spirit an...,7880,2022-01-30 11:53:15+00:00
198,"During #MannKiBaat today, talked about the lar...",6388,2022-01-30 11:52:38+00:00
199,It made me extremely happy that over a crore y...,5993,2022-01-30 11:52:07+00:00

In [25]:
df = df[~df.tweets.str.contains("RT")]

In [26]:
df

,tweets,likes,time
0,‡¶ó‡ßÄ‡¶§‡¶∂‡ßç‡¶∞‡ßÄ ‡¶∏‡¶®‡ßç‡¶ß‡ßç‡¶Ø‡¶æ ‡¶Æ‡ßÅ‡¶ñ‡ßã‡¶™‡¶æ‡¶ß‡ßç‡¶Ø‡¶æ‡¶Ø‡¶º‡ßá‡¶∞ ‡¶™‡ßç‡¶∞‡¶Ø‡¶º‡¶æ‡¶£‡ßá ‡¶Ü‡¶Æ‡¶∞‡¶æ ‡¶∏...,530,2022-02-15 17:55:10+00:00
1,The passing away of Gitashree Sandhya Mukhopad...,5492,2022-02-15 17:24:33+00:00
2,‡§∞‡§µ‡§ø‡§¶‡§æ‡§∏ ‡§ú‡§Ø‡§Ç‡§§‡•Ä ‡§ï‡•á ‡§™‡§æ‡§µ‡§® ‡§Ö‡§µ‡§∏‡§∞ ‡§™‡§∞ ‡§ï‡§≤ ‡§∏‡•Å‡§¨‡§π 9 ‡§¨‡§ú‡•á ‡§Æ‡•à‡§Ç...,24895,2022-02-15 14:14:56+00:00
3,‡§Æ‡•Å‡§ù‡•á ‡§Ø‡§π ‡§¨‡§§‡§æ‡§§‡•á ‡§π‡•Å‡§è ‡§ó‡§∞‡•ç‡§µ ‡§ï‡§æ ‡§Ö‡§®‡•Å‡§≠‡§µ ‡§π‡•ã ‡§∞‡§π‡§æ ‡§π‡•à ‡§ï‡§ø ‡§π...,12353,2022-02-15 12:53:55+00:00
4,‡§á‡§∏ ‡§Ö‡§µ‡§∏‡§∞ ‡§™‡§∞ ‡§Æ‡•Å‡§ù‡•á ‡§∏‡§Ç‡§§ ‡§∞‡§µ‡§ø‡§¶‡§æ‡§∏ ‡§ú‡•Ä ‡§ï‡•Ä ‡§™‡§µ‡§ø‡§§‡•ç‡§∞ ‡§∏‡•ç‡§•‡§≤‡•Ä ...,18713,2022-02-15 12:52:27+00:00
...,...,...,...
195,‡§Ü‡§ú‡§æ‡§¶‡•Ä ‡§ï‡•á ‡§Ö‡§Æ‡•É‡§§ ‡§Æ‡§π‡•ã‡§§‡•ç‡§∏‡§µ ‡§Æ‡•á‡§Ç ‡§¶‡•á‡§∂ ‡§Ö‡§™‡§®‡•á ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡•Ä‡§Ø ‡§™...,10501,2022-01-30 11:54:20+00:00
196,The work of the Hastinapur Foundation in Argen...,7082,2022-01-30 11:53:46+00:00
197,The people of Assam have shown great spirit an...,7880,2022-01-30 11:53:15+00:00
198,"During #MannKiBaat today, talked about the lar...",6388,2022-01-30 11:52:38+00:00
199,It made me extremely happy that over a crore y...,5993,2022-01-30 11:52:07+00:00

In [27]:
most_like  = df.loc[df.likes.nlargest(5).index]

In [28]:
most_like

,tweets,likes,time
111,Paid my last respects to Lata Didi in Mumbai. ...,182771,2022-02-06 13:31:11+00:00
116,I am anguished beyond words. The kind and cari...,178585,2022-02-06 04:29:09+00:00
112,Will be leaving for Mumbai in some time to pay...,156733,2022-02-06 08:47:42+00:00
128,Had the honour of inaugurating the Statue of E...,130378,2022-02-05 15:49:29+00:00
114,I consider it my honour that I have always rec...,110459,2022-02-06 04:31:37+00:00